@import "tailwindcss";
@import "@fontsource/inter/index.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f4f5fa;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}
